<ul class="tree tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries">
  <li>
    <details open>
      <summary>types of sports</summary>
        <ul>
          <li>
            <details open>
              <summary>summer types</summary>
                <ul>
                  <li>
                    <details open>
                      <summary>without ball</summary>
                        <ul>
                          <li>
                              running
                          </li>
                        </ul>
                  </li>
                  <li>
                      <summary>with ball</summary>
                        <ul>
                          <li>
                              voleyball
                          </li>
                          <li>
                              <summary>football</summary>
                                <ul>
                                  <li>
                                      beach football
                                  </li>
                                </ul>
                            </details>
                          </li>
                        </ul>
                    </details>
                  </li>
                </ul>
          </li>
          <li>
              winter types
          </li>
        </ul>
    </details>
  </li>
</ul>